
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #bb1589;
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            background-color: #AED6F1;
            padding: 10px;
            text-align: center;
        }

        nav a {
            text-decoration: none;
            margin: 15px;
            color: black;
            font-weight: bold;
        }

        nav a:hover {
            color: #2E86C1;
        }

        section {
            padding: 20px;
        }

        .services, .doctors {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .card {
            background-color: #f4f4f4;
            width: 250px;
            margin: 10px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 5px gray;
        }

        footer {
            background-color: #2E86C1;
            color: white;
            text-align: center;
            padding: 10px;
        }

        form input, form textarea {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
        }

        form button {
            background-color: #2E86C1;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        form button:hover {
            background-color: #f0c330;
        }
  